<div onclick={{action "blurBackground"}} >
{{article.title}}<br/>
<em>{{article.publishedAt}}</em><br/>
Favourites: {{article.favourites.length}}
</div>
{{#if isModalOpen}}
  {{#md-modal close='close' class="test-modal"}}
      <div class="modal-content">
          <h1>{{article.title}}</h1>
          <h2>Favourited: {{article.favourites.length}} times</h2>
          <h3>{{article.created_at}}</h3>
          <p>{{article.story}}
          </p>
          {{#if authManager.currentUser}}  
            <button onclick={{action "favouriteBtn" article}}>Favourite!</button>
          {{/if}}
      </div>
      <div class="modal-footer">
          <a class="modal-action modal-close waves-effect waves-red btn-flat cancel-button" {{action 'close'}}>
              Cancel
          </a>
      </div>
    {{/md-modal}}
{{/if}}
