<g id="Europe">
          <path id="Svalbard" class="st0" d="M482.527,28.945l0.758-0.461l-2.432,0.765L482.527,28.945z M535.494,20.294l0.164-0.288
            l-0.968-0.017L535.494,20.294z M545.115,15.109l0.865-0.579l-1,0.621L545.115,15.109z M541.385,13.198l-0.45,0.011l0.197,0.059
            L541.385,13.198z M540.836,11.017l-4.31,0.19l1.461,0.47l-1.139,1.054l3.425-0.201l-0.588,0.299l0.535,0.397l3.766-1.169
            l-3.522-0.62L540.836,11.017z M537.314,10.174l-2.397,0.213l1.149,0.654l2.82-0.175l-0.642-0.726L537.314,10.174z M546.725,9.851
            l0.314,0.033l-1.165-0.176L546.725,9.851z M519.077,10.08l-1.484-0.655l3.218,1.587L519.077,10.08z M550.426,9.38l-1.75,0.109
            l2.967-0.065L550.426,9.38z M552.46,9.245l0.213-0.028l-0.487-0.027L552.46,9.245z M536.527,9.108l-0.53,0.017l0.114,0.035
            L536.527,9.108z M535.823,9.071l-1.161-0.158l-0.22,0.195L535.823,9.071z M534.253,8.652l0.239-0.171l-0.322,0.205L534.253,8.652z
             M534.359,8.378l-0.859-0.05l0.999,0.109L534.359,8.378z M518.119,7.752l0.264-0.025l-0.652-0.111L518.119,7.752z M518.227,7.557
            l-0.441-0.094l-0.194,0.072L518.227,7.557z M528.326,7.271l-0.982-0.41l-1.056,0.507l1.863,2.039l-3.69-1.989l-1.111,0.573
            l0.418,0.62l-1.494-0.466l0.355-0.24l-1.81,0.032l2.287-0.672l-5.383,0.719l1.13,1l1.476-0.451l-0.553,0.49l1.387,0.376
            l-2.094-0.118l3.465,0.949l-1.471,0.138l1.261,0.649l3.001-0.428l-0.657-0.26l1.616-0.787l-0.216,0.581l0.545,0.311l2.33-0.502
            l-0.787,0.5l1.753,0.073l-6.481,0.854l0.771,0.775l5.428-0.501l-3.962,0.637l2.79,0.526l-4.228-0.219l1.153,0.842l3.824,0.412
            l-1.814,0.283l2.19,0.743l1.015-0.299l-0.564-0.252l1.153-1.596l0.987-0.083l-0.065-1.204l1.183-0.171l-0.429-0.829l4.412-0.708
            l-4.888-0.889l-1.245-1.024l-1.13,0.562l0.629-0.762L528.326,7.271z M547.338,6.759l0.383-0.072l-0.677,0.046L547.338,6.759z
             M562.95,6.696l-0.176-0.044l-0.288,0.012L562.95,6.696z M555.214,6.793l2.091-0.254l-3.675,0.272L555.214,6.793z M531.147,6.471
            l0.325-0.12l-1.097,0.036L531.147,6.471z M541.065,6.178l-0.289-0.148L540.7,6.159L541.065,6.178z M533.403,5.981l-0.798,0.048
            l0.785,0.51l-1.554-0.26l1.15,0.394L532.6,6.811l-2.726-0.088l1.854,0.285l-1.095,0.182l1.181,0.417l6.136-0.173l-4.561,0.421
            l7.08,0.938l6.002-1.592l-4.518-0.952l-2.846,0.489l0.241-0.655l-0.859-0.128l-0.855,0.168l0.449,0.236l-0.403,0.682l-1.18-0.298
            l0.36-0.318L533.403,5.981z M540.881,5.994l-0.182-0.08l-0.333,0.039L540.881,5.994z M533.403,5.981l0.319-0.074l-0.487,0.02
            L533.403,5.981z M534.732,5.68l0.053-0.054l-0.512-0.021L534.732,5.68z M535.676,5.515l-0.511,0.039l0.584,0.006L535.676,5.515z
             M534.786,5.476l0.333,0.037l-0.874-0.122L534.786,5.476z"/>
          <path id="Iceland" class="st0" d="M467.347,41.928l0.831-0.616l-1.485,0.618l-2.271-1.006l-0.297,1.148l-3.549-0.231l0.267,1.469
            l-1.278-1.514l-1.464,0.372l-0.142,0.914l-1.352-1.116l-0.537,0.128l-0.317,1.628l-0.973-0.26l-0.535,1.194l-1.175-1.684
            l0.913,0.09l-0.453-0.609l0.464-0.204l-3.007-1.21L450.4,41.36l1.54,0.226l-1.153,0.128l0.96,1.033l-2.024-0.971l-0.45,0.243
            l0.553,0.344l-0.928-0.074l1.182,0.486l-1.375-0.081l1.297,0.346l-1.82-0.18l0.485,0.765l-1.576,0.091l5.992,0.135l-1.967,0.773
            l1.471,0.392l-4.802,0.389l3.479,0.219l0.327,1.003l1.509-0.537l-1.432,0.927l1.618-0.198l-3.023,0.854l-0.108,0.775l3.587-0.393
            l4.81,1.562l7.527-2.761l0.945,0.302l0.873-0.398l0.186-1.095l2.238-0.758l-1.099-0.345l1.006-0.185l-0.011-0.696l-2.019,0.042
            l0.573-0.798l-1.096,0.143l0.571-0.728L467.347,41.928z"/>
          <path id="Faroe_Islands" class="st0" d="M484.33,55.323l-0.126-0.528l-0.518-0.131L484.33,55.323z M484.504,54.083l-0.656-0.238
            l0.539,0.464L484.504,54.083z M483.563,53.379l-0.833-0.207l0.492,0.348L483.563,53.379z M484.295,53.752l-1.051-0.992
            l-0.064,0.32L484.295,53.752z M484.426,53.309l0.138-0.298l-0.987-0.333L484.426,53.309z M484.528,52.917l-0.206-0.29l0.064,0.246
            L484.528,52.917z M484.962,53.048l-0.317-0.474l-0.016,0.394L484.962,53.048z M485.003,52.761l-0.29-0.292l0.129,0.254
            L485.003,52.761z"/>
          <path id="Mariehamn_Islands" class="st0" d="M544.202,59.393l-0.048-0.243l-0.457,0.024L544.202,59.393z M544.302,59.168
            l0.019-0.197l-0.177-0.04L544.302,59.168z M542.934,58.88l-0.208-0.287l-0.17,0.233L542.934,58.88z M544.526,58.77l0.073-0.168
            l-0.173-0.036L544.526,58.77z M543.762,58.32l-0.933,0.271l0.75,0.62l0.646-0.671L543.762,58.32z"/>
          <path id="Isle_of_Man" class="st0" d="M487.755,76.912l0.914-0.393l0.114-0.674L487.755,76.912z"/>
          <path id="Channel_Islands" class="st0" d="M492.498,90.98l0.414-0.227l-0.221,0.263L492.498,90.98z M494.089,91.659l-0.566-0.12
            l0.1,0.223L494.089,91.659z"/>
          <path id="Liechtenstein" class="st0" d="M522.597,97.667l-0.114,0.673l0.306-0.02L522.597,97.667z"/>
          <path id="San_Marino" class="st0" d="M530.352,107.893l0.121,0.189l0.112-0.278L530.352,107.893z"/>
          <path id="Andorra" class="st0" d="M503.544,112.142l-0.855-0.098l0.709,0.284L503.544,112.142z"/>
          <path id="Monaco" class="st0" d="M517.812,108.506l-0.06-0.04l-0.069,0.067l0.012,0.064L517.812,108.506z"/>
          <path id="Vatican" class="st0" d="M530.795,114.191l0.03,0.005l-0.014-0.02L530.795,114.191z"/>
          <path id="Gibraltar" class="st0" d="M485.001,132.415l-0.056-0.002l0.043,0.165L485.001,132.415z"/>

          <path id="Ireland" class="st1" d="M476.11,79.421v-0.174l-0.154,0.036L476.11,79.421z M475.531,77.023l-0.726,0.131l0.721,0.296
            L475.531,77.023z M479.093,74.188l0.071-0.091l-0.129-0.052L479.093,74.188z M481.692,74.221l0.376-0.351l0.772-0.494
            l-1.057-0.429l-0.735,1.288l0.105-0.975l-1.566,0.495l-1.2,1.248l1.426,0.174l-1.173,0.852l0.45,0.227l-3.866,0.132l-0.055,0.401
            l0.302-0.368l0.462,0.832l-0.374,0.226l0.893,0.022l-1.537,1.361l2.9,0.433l-2.491,2.141l2.683-0.332L474,82.569l1.675,0.102
            l-1.458,1.111l1.841-0.272l-1.381,0.849l1.461-0.477l-0.73,0.927l1.408-0.107l5.485-2.439l1.501,0.319l0.918-2.325l-0.466-3.479
            l-1.756-0.954l-1.284,0.873l-1.363-0.945L481.692,74.221z M479.281,74.247l-0.038-0.032l0.036-0.001L479.281,74.247z"/>
          <path id="Estonia" class="st1" d="M553.595,64.886l0.05-0.126l-0.171-0.013L553.595,64.886z M551.083,63.425l-2.583,0.272
            l1.003,1.058l-0.371,0.653l2.801-1.525L551.083,63.425z M551.963,63.624l-0.334-0.413l-0.399,0.184L551.963,63.624z
             M551.555,62.356l0.241-0.102l-0.647-0.078L551.555,62.356z M550.347,62.248l-1.569,0.175l2.314,0.303L550.347,62.248z
             M556.846,60.414l-4.988,1.231l0.237,1.158l0.907,0.121l-0.822,0.218l0.686,0.948l1.899,0.128l-0.318,1.339l2.124-0.625
            l3.071,1.644l1.963-0.028l0.839-0.997l-1.437-2.758l1.391-1.45l-0.447-0.492L556.846,60.414z"/>
          <path id="Austria" class="st1" d="M532.903,93.021l-2.5,2.012l0.771,2.026l-0.738-0.663l-3.996,0.893l-1.559-0.607l-0.702,0.984
            l-1.541-0.824l-0.042,0.824l0.193,0.653l2.193,0.597l4.084-0.404l0.835,0.963l3.208,0.509l2.081,0.369l3.782-1.432l0.954-0.424
            l0.363-1.666l-0.69-0.478l1.486-0.035l0.195-0.94l-0.708-1.879l-4.808-1.237l-0.691,1.354L532.903,93.021z"/>
          <path id="Czech_Republic" class="st1" d="M535.073,93.616l0.691-1.354l4.808,1.237l4.393-2.777l-0.793-1.224l-2.294-0.596
            l0.093-0.65l-2.053-0.367l0.336,0.683l-0.843,0.334l-1.147-0.969l0.262-0.727l-3.713-0.627l-1.3-0.574l-5.189,2.239l1.601,2.763
            l2.976,2.013L535.073,93.616z"/>
          <path id="Finland" class="st1" d="M550.078,59.462l0.216,0.169l0.321-0.153L550.078,59.462z M549.176,59.347l-0.033-0.222
            l-0.195,0.016L549.176,59.347z M547.25,59.051l0.102-0.167l-0.361,0.121L547.25,59.051z M547.58,59.012l0.274-0.191l-0.381-0.017
            L547.58,59.012z M546.763,58.817l-0.291-0.027l0.275,0.091L546.763,58.817z M548.135,58.96l0.099-0.216l-0.259,0.098
            L548.135,58.96z M556.69,58.768l0.05-0.045l-0.14,0.02L556.69,58.768z M549.926,58.676l-0.516,0.072l-0.316-0.046l0.148,0.633
            L549.926,58.676z M548.649,58.81l0.085-0.196l-0.157,0.087L548.649,58.81z M548.824,58.514l-0.56-0.072l-0.042,0.113
            L548.824,58.514z M548.913,58.499l0.192-0.102l-0.343-0.032L548.913,58.499z M548.003,58.395l-0.456-0.409l0.004,0.269
            L548.003,58.395z M547.408,57.891l0.015-0.07l-0.073,0.006l-0.07,0.195L547.408,57.891z M546.801,57.828l-0.369-0.066l0.279,0.212
            L546.801,57.828z M546.475,57.941l-0.259-0.206l0.142,0.215L546.475,57.941z M546.33,57.562l-0.173-0.022l0.193,0.169
            L546.33,57.562z M546.292,56.797l0.045-0.129l-0.245-0.106L546.292,56.797z M544.644,49.928l0.425,0.387l0.366-0.148
            L544.644,49.928z M547.035,49.974l-0.002-0.16l-0.321,0.042L547.035,49.974z M545.167,49.906l0.101-0.147l-0.315,0.044
            L545.167,49.906z M548.265,48.464l-0.184-0.217l-0.249,0.232L548.265,48.464z M551.644,45.255L552.231,45l-1.021,0.031
            L551.644,45.255z M550.614,42.978l0.077-0.046l-0.133,0.03L550.614,42.978z M555.728,31.736l-3.465-0.04l-0.859,0.673l0.043,1.823
            l-1.444,1.095l-2.101-0.676l-3.154,0.326l-2.508-1.645l-1.372,0.71l2.748,1.313l4.143,1.697l-0.227,1.293l0.724,0.135
            l-0.266,0.708l1.101,0.974l-0.459,1.342l1.331,1.375l1.055-0.227l0.092,0.668l1.437,0.398l0.606,1.548l-1.842,0.425l-0.273,0.78
            l-1.865,1.76l-2.22,1.223l0.415,0.536l-1.787,0.18l0.496,0.524l-1.158,1.172l1.816,3.044l-0.272,2.572l2.956,0.757l-0.342,0.427
            l0.301,0.098l0.19-0.034l0.813-0.38l0.072,0.019l-0.376,0.583l1.098,0.364l-0.854,0.624l6.503-1.267l1.419-1.174l-0.247,0.58
            l2.859-0.288l6.793-6.784l-4.014-2.345l0.936-1.344l-2.485-1.978l-0.097-2.017l0.621-0.182l-3.01-3.241l1.438-2.178l-3.091-1.361
            l-0.706-0.901l0.533-0.839l-0.827-0.141l0.966-0.414l-0.426-0.291l0.469-1.264L555.728,31.736z M556.286,58.654l-0.162,0.079
            l-0.114-0.168L556.286,58.654z M552.043,59.546l-0.743,0.046l0.352-0.142L552.043,59.546z"/>
          <path id="Belgium" class="st1" d="M509.369,85.366L509.21,85.1l-2.09-0.071l-1.982,0.863l3.972,2.475l-0.017,0.936l1.645-0.585
            l0.129,1.143l2.299,0.777l0.467-1.959l0.268,0.164l0.619-0.6l-0.982-1.331l-0.905-0.252l0.47-0.968l-1.976-1.008l-1.888,0.34
            L509.369,85.366z"/>
          <path id="Bulgaria" class="st1" d="M569.841,111.311l1.411-2.775l-4.069-1.223l-3.855,1.593l-3.183-0.177l-3.352-0.483
            l0.347-0.715l-0.965-0.455l-0.66,1.218l1.825,1.94l-1.306,1.136l-0.036,1.526l1.837,1.728l-0.068,1.297l3.326-0.706l2.727,1.013
            l2.151-0.346l-0.313-1.059l0.579-0.033l0.17-0.009l2.529-0.915l1.588,0.079l-1.632-1.498L569.841,111.311z"/>
          <path id="Cyprus" class="st1" d="M587.689,135.02l-3.524,0.997l2.166,1.541l2.639-1.271l-0.542-1.006l1.606-1.344L587.689,135.02z
            "/>
          <path id="Denmark" class="st1" d="M525.962,74.591l-1.218,0.116l2.053,0.322L525.962,74.591z M527.174,74.403l-0.781-0.132
            l0.686,1.123L527.174,74.403z M523.429,74.555l-0.608-0.395l0.164,0.208L523.429,74.555z M528.372,74.188l-0.591-0.213
            l-0.427,0.392L528.372,74.188z M523.833,74.23l0.02-0.278l-0.304,0.11L523.833,74.23z M521.886,73.857l-0.374,0.076l1.064,0.523
            L521.886,73.857z M524.201,74.748l0.368-1.148l-0.571,0.755L524.201,74.748z M534.195,74.096l-0.8-0.898l-0.099,0.585
            L534.195,74.096z M518.739,73.083l-0.028-0.275l-0.234-0.094L518.739,73.083z M524.026,72.641l-0.322-0.408l-0.289,0.54
            l-0.43-0.534l-0.919,0.331l-0.222-0.124l-0.149,0.022l-0.162,0.123l0.327,0.186l0.231,0.469l0.271,0.258l0.266,0.043l0.099,0.282
            l0.817,0.166l0.646-0.28L524.026,72.641z M528.278,72.434l0.221-0.117l-0.195-0.315L528.278,72.434z M523.678,71.498l-0.272-0.345
            l0.054,0.642L523.678,71.498z M528.14,71.121l-1.635,0.076l0.533,0.933l-0.755-0.927l-2.014,0.692l0.985,1.59l1.98,0.691
            l0.834-0.95l-0.678-0.574L528.14,71.121z M525.662,69.106l0.177-0.156l-0.33,0.046L525.662,69.106z M519.531,68.371l-0.924,0.524
            l0.601,0.147L519.531,68.371z M521.914,67.918l-1.513,0.206l-0.286,0.254l0.403,1.157l-0.619-0.836l-0.742,0.964l-1.328-0.508
            l-0.028,1.888l0.69,0.358l-0.641-0.262l-0.023,1.301l1.269,0.362l0.182,1.537l1.843,0.262l0.743-0.197l-0.766-0.696l0.522-0.218
            l-0.276-0.671l0.249-0.327l0.253-0.22l-0.645-0.301l1.029,0.002l0.494-1.409l1.6-0.775l-2.574-0.626l0.991-0.29l-0.033-0.691
            L521.914,67.918z M524.664,67.212l-0.772,0.141l0.337,0.117L524.664,67.212z M522.855,66.381l0.457-0.425l-4.523,1.814
            l-0.796,1.227l0.746,0.37l0.066-0.307l-0.403,0.024l0.541-0.791l1.002-0.318l0.305,0.169l1.734-0.279l0.778,0.291L522.855,66.381z
            "/>
          <path id="Albania" class="st1" d="M548.888,116.917l0.285,2.091l-0.507-0.21l1.578,1.185l0.47,1.1l1.601-1.283l0.591-2.369
            l-0.432-0.165l-0.962-1.309l0.09-1.701l-1.517-2.085l-1.099-0.175l-0.496,2.363l0.609,0.161L548.888,116.917z"/>
          <path id="France" class="st1" d="M523.141,112.003l-0.075-0.086l0.099,0.122L523.141,112.003z M523.033,111.808l-0.282-0.996
            l-0.106,1.006l-1.79,0.895l0.646,2.541l1.027,0.597l0.854-2.315L523.033,111.808z M496.029,102.162l-0.094-0.439l-0.419-0.265
            L496.029,102.162z M495.87,101.13l-0.53-0.308l-0.196,0.034L495.87,101.13z M493.372,99.468l-0.282-0.1l0.051,0.085
            L493.372,99.468z M493.567,98.464l-0.217-0.01l0.342,0.356L493.567,98.464z M491.425,97.567l-0.471-0.215l0.102,0.228
            L491.425,97.567z M486.6,94.01l-0.021-0.089l-0.174,0.077L486.6,94.01z M490.25,92.927l0.033-0.015l-0.03-0.012L490.25,92.927z
             M505.138,85.891l-2.204,0.652l-0.377,2.311l-3.366,1.84l0.855,0.231l-3.754,0.267l-0.36-0.984l-1.648-0.122l1.37,3.337
            l-3.234,0.44l-1.295-1.142l-3.84,1.118l1.438,0.649l-1.347,0.804l0.869,0.733l3.09,1.029l1.016-0.512l0.827,0.413l-0.451,0.643
            l0.619,0.179l0.71-0.249l0.677,0.336l-1.001-0.208l-0.096,0.469l0.459,0.286l-0.37,0.608l2.512,1.616l0.11,1.261l-0.436,0.64
            l1.157,0.742l0.596,1.741l-1.363-2.059l-0.433,2.775l0.539-0.039l-1.907,4.028l3.082,1.771l5.107,0.55l0.855,0.098l-0.146,0.186
            l3.704,0.223l-0.273-1.939l2.214-1.443l2.698-0.048l2.914,1.549l3.039-2.072l-0.012-0.064l0.069-0.067l0.06,0.04l0.221-0.095
            l0.296-1.17l-1.741-0.347l0.082-1.678l-1.062-0.857l1.258-0.454l-0.877-1.613l0.581-0.467l-0.667-1.553l-2.031,0.695l2.41-3.99
            l1.466-0.271l-0.088-1.659l1.48-2.616l-4.613-1.529l-1.36-0.264l-2.299-0.777l-0.129-1.143l-1.645,0.585l0.017-0.936
            L505.138,85.891z"/>
          <path id="Germany" class="st1" d="M520.502,96.357l-0.1-0.044l0.022,0.055L520.502,96.357z M515.104,78.276l-0.348,0.049
            l0.213,0.078L515.104,78.276z M515.409,78.073l0.35-0.044l-0.499,0.042L515.409,78.073z M516.121,77.968l0.244-0.05l-0.497,0.045
            L516.121,77.968z M518.359,77.907l-0.116-0.027l-0.051,0.062L518.359,77.907z M517.011,77.817l-0.323-0.009l-0.039,0.074
            L517.011,77.817z M517.332,77.799l0.125-0.045l-0.348,0.042L517.332,77.799z M518.879,77.295l0.064-0.105l-0.101,0.023
            L518.879,77.295z M531.859,77.004l-0.014-0.008l-0.018,0.028L531.859,77.004z M519.498,76.955l-0.012-0.124l-0.051,0.014
            L519.498,76.955z M531.992,76.883l-0.595-0.284l0.746,0.526l-0.514,0.394l0.929-0.046v-0.179L531.992,76.883z M524.807,75.936
            l0.056,0.011l0.034-0.01L524.807,75.936z M519.891,75.692l0.149-0.172l-0.339,0.055L519.891,75.692z M525.584,75.857l-0.327-0.339
            l-0.405,0.175L525.584,75.857z M519.345,75.596l0.103-0.172l-0.277,0.072L519.345,75.596z M529.7,75.612l0.153-0.342l-0.125,0.037
            L529.7,75.612z M530.387,75.162l-0.304,0.239l0.623,0.198l-0.849-0.157l0.325,0.489l-0.338,0.146l1.455,0.174L530.387,75.162z
             M518.625,75.239l-0.041-0.295l-0.132,0.135L518.625,75.239z M519.09,75.023l-0.05-0.205l-0.355,0.12L519.09,75.023z
             M524.807,75.936l-2.62-0.222l0.181-0.919l-1.247-0.192l-1.843-0.262l-0.657-0.419l-0.213,0.916l0.681-0.362l1.086,1.107
            l-0.953,0.493l0.675,0.119l0.098,1.061l2.275,1.217l-2.82-1.076l-0.296,1.625l-1.226-1.072l-1.68,0.074l-0.626,0.815l0.48,0.518
            l-0.293,1.811l-0.853,0.286l0.919,0.495l-0.512,1.276l-2.058,0.48l0.661,1.041l-0.816,1.281l0.385,0.883l0.982,1.331l-0.619,0.6
            l0.982,0.982l-0.357,1.077l4.613,1.529l-1.48,2.616l0.088,1.659l0.274,0.128l2.165-0.149l-0.055-0.668l2.507,0.826l1.541,0.824
            l0.702-0.984l1.559,0.607l3.996-0.893l0.738,0.663l-0.771-2.026l2.5-2.012l-2.976-2.013l-1.601-2.763l5.189-2.239l1.3,0.574
            l0.391-1.282l-1.192-1.624l-0.104-2.288l-1.247-0.878l0.076-2.523l-1.131-0.44l-0.309-0.975l-0.599,0.221l-1.093-0.911
            l-1.505,0.404l1.263-0.486l-0.944-0.142l-3.889,1.754L524.807,75.936z M526.026,77.196l-0.207-0.083l0.263-0.104L526.026,77.196z
             M526.205,76.894l-0.075,0.038l0.226-0.168L526.205,76.894z M528.91,75.828l-0.103-0.005l0.037-0.03L528.91,75.828z"/>
          <path id="Greece" class="st1" d="M562.722,136.617l-0.22,0.021l0.232,0.132L562.722,136.617z M569.896,135.005l0.294-0.231
            l-0.318,0.035L569.896,135.005z M561.838,134.481l-0.688-0.295l-0.141,1.047l3.339,1.11l4.006-0.606L561.838,134.481z
             M570.547,134.725l0.072-1.226l-0.36,0.713L570.547,134.725z M560.374,133.503l-0.029-0.151l-0.146-0.09L560.374,133.503z
             M559.55,132.497l0.124-0.345l-0.502-0.438L559.55,132.497z M566.816,131.816l-0.193-0.174l-0.098,0.104L566.816,131.816z
             M565.648,131.666l0.015-0.052l-0.039,0.008L565.648,131.666z M572.069,133.292l0.977-1.816l-1.238,0.927L572.069,133.292z
             M570.905,131.737l0.108-0.117l-0.406-0.18L570.905,131.737z M565.82,131.862l0.054-0.24l-0.319-0.208L565.82,131.862z
             M568.089,131.304l0.283-0.296l-0.517,0.021L568.089,131.304z M572.049,131.237l-0.026-0.397l-0.224,0.243L572.049,131.237z
             M564.415,131.032l-0.043-0.136l-0.263-0.084L564.415,131.032z M564.769,130.893l0.233-0.267l-0.217,0.075L564.769,130.893z
             M556.084,130.56l-0.071-0.058l-0.016,0.137l0.068,0.048L556.084,130.56z M562.989,130.807l0.325-0.32l-0.517,0.043
            L562.989,130.807z M565.539,130.835l0.038-0.214l-0.363-0.205L565.539,130.835z M563.618,130.525l-0.002-0.093l-0.146-0.006
            L563.618,130.525z M555.855,130.552l0.065-0.173l-0.064-0.013L555.855,130.552z M563.337,130.435l-0.01-0.236l-0.101,0.08
            L563.337,130.435z M565.684,130.284l0.023-0.152l-0.129,0.12L565.684,130.284z M566.657,130.421l0.365-0.305l-0.601,0.29
            L566.657,130.421z M569.671,130.738l0.954-0.616l-0.745,0.108L569.671,130.738z M566.246,130.104l-0.084-0.091l-0.106,0.063
            L566.246,130.104z M564.643,129.865l-0.007-0.292l-0.145,0.14L564.643,129.865z M563.703,130.023l0.124-0.179l-0.349-0.271
            L563.703,130.023z M569.622,129.954l0.169-0.223l-0.438-0.267L569.622,129.954z M566.584,129.409l-0.033-0.105l-0.111,0.018
            L566.584,129.409z M565.081,129.683l0.01-0.421l-0.413,0.359L565.081,129.683z M569.336,129.398l-0.1-0.273l-0.232,0.015
            L569.336,129.398z M565.66,129.97l0.136-0.9l-0.496,0.397L565.66,129.97z M563.16,129.121l-0.299,0.178l0.251,0.047
            L563.16,129.121z M568.996,129.106l0.046-0.065l-0.04,0.001L568.996,129.106z M559.541,128.934l-0.025-0.105l-0.141-0.015
            L559.541,128.934z M560.189,128.739l0.433-0.204l-0.53,0.208L560.189,128.739z M562.718,128.722l0.245-0.298l-0.13-0.27
            L562.718,128.722z M565.248,128.393l0.254-0.2l-0.396-0.059L565.248,128.393z M564.193,128.465l-0.201-0.41l0.03,0.48
            L564.193,128.465z M560.36,128.081l0.059-0.063l-0.235-0.008L560.36,128.081z M564.869,127.985l0.001-0.282l-0.702-0.173
            L564.869,127.985z M562.444,128.011l0.207-0.474l-0.245,0.059L562.444,128.011z M566.944,128.049l0.835-0.555l-0.748,0.176
            L566.944,128.049z M560.348,127.478l0.113-0.229l-0.361,0.001L560.348,127.478z M569.618,127.412l-0.869-0.32l-0.436,0.26
            L569.618,127.412z M553.498,127.112l-0.734-0.179l0.598,0.691L553.498,127.112z M563.592,126.49l-0.167,0.404l0.699,0.603
            L563.592,126.49z M560.163,126.875l0.169-0.345h-0.264L560.163,126.875z M552.607,125.218l-0.651,0.697l1.203,0.376
            L552.607,125.218z M552.948,125.488l-0.273-0.611l0.015,0.328L552.948,125.488z M566.75,125.916l0.231-1.18l-0.786-0.126
            L566.75,125.916z M553.324,124.732l0.078-0.191l-0.093,0.125L553.324,124.732z M565.532,124.776l0.016-0.186l-0.222-0.031
            L565.532,124.776z M552.64,124.618l0.085-0.812l-0.334,0.482L552.64,124.618z M563.068,123.924l-0.633-0.526l0.306,0.621
            L563.068,123.924z M559.883,123.747l-1.633,0.077l4.753,2.701l-1.263-2.117L559.883,123.747z M560.53,123.041l0.115-0.158
            l-0.531-0.256L560.53,123.041z M559.914,122.77l-0.137-0.155l-0.162,0.179L559.914,122.77z M551.334,122.723l-0.209-0.197
            l0.043,0.114L551.334,122.723z M560.838,122.843l0.262-0.394l-0.072-0.094L560.838,122.843z M567.307,122.407l-1.382,0.286
            l2.084,0.545L567.307,122.407z M563.661,121.795l0.137-0.204l-0.133-0.103L563.661,121.795z M550.471,120.756l-0.723,0.158
            l1.313,1.209l-0.759-0.907L550.471,120.756z M549.111,120.601l0.062-0.075l-0.134-0.004L549.111,120.601z M564.645,120.093
            l-0.952,0.454l0.803,0.234L564.645,120.093z M564.925,118.859l0.216-0.213l-0.649-0.03L564.925,118.859z M562.715,118.129
            l-0.385-0.518l-0.303,0.435L562.715,118.129z M566.238,114.792l-0.579,0.033l0.313,1.059l-2.151,0.346l-2.727-1.013l-3.326,0.706
            l-4.861,1.508l-0.591,2.369l-1.601,1.283l2.06,2.348l1.071-0.158l-1.031,0.642l0.702,0.42l0.506,1.173l3.227-0.462l2.222,0.947
            l-0.873,0.692l-2.737-1.295l-1.832,1.564l1.522,1.33l0.301,2.023l1.122-0.667l1.042,2.053l0.274-1.351l1.576,1.203l-1.537-3.669
            l2.095,0.448l-1.487-1.454l1.321-0.515l1.463,1.253l-0.054-1.755l-4.218-2.116l1.374-0.574l-0.443-1.024l1.107,0.574l-2.185-2.642
            l-0.149-1.457l0.854-0.481l2.202,2.253l-1.022-1.048l1.586,0.95l-0.655-1.28l1.791,0.623l-1.9-1.886l3.517-0.797l2.424,0.857
            l1.289-1.92l-0.829-1.101L566.238,114.792z"/>
          <path id="Croatia" class="st1" d="M541.985,111.663l0.081-0.129l-0.32,0.001L541.985,111.663z M544.132,111.768l-0.905-0.324
            l-0.195,0.03L544.132,111.768z M541.716,110.947l-0.481-0.065l1.413,0.191L541.716,110.947z M542.919,110.803l-0.758-0.122
            l3.963,1.83l-0.152-0.357l-2.132-0.991L542.919,110.803z M540.147,110.756l0.099-0.154l-0.509,0.029L540.147,110.756z
             M540.995,110.118l-0.47,0.112l2.089,0.208L540.995,110.118z M541.72,110.001l-0.273-0.286l-0.874,0.101L541.72,110.001z
             M540.536,109.806l-0.177-0.188l-0.328-0.054L540.536,109.806z M538.686,108.894l-0.072-0.107l-0.143-0.028L538.686,108.894z
             M537.783,108.349l-0.321-0.196l0.405,0.297L537.783,108.349z M538.019,108.109l-0.194-0.247l-0.302-0.118L538.019,108.109z
             M537.494,107.713l-0.027-0.111l-0.479-0.319L537.494,107.713z M536.462,107.227l0.774,0.854l0.223-0.014L536.462,107.227z
             M536.324,105.897l1.096,0.864l-1.381-1.135L536.324,105.897z M535.557,106.312l-0.515-0.724l0.101,0.368L535.557,106.312z
             M536.077,105.3l-0.244,0.028l0.537,0.27L536.077,105.3z M535.295,104.975l-0.408-0.816l0.269,0.799l-0.265,0.025l0.565,0.924
            L535.295,104.975z M536.043,104.878l-0.609-0.917l-0.241,0.496L536.043,104.878z M540.216,100.144l-2.221,0.792l0.197,1.16
            l-1.21,1.291l-1.489-0.77l-2.483,0.597l0.917,2.176l0.871-1.693l0.479,0.043l4.2,5.541l2.293,0.31l1.875,1.406l-3.942-3.843
            l-1.128-2.985l6.188,0.102l2.054,0.853l0.858-1.121l-1.155-0.471l-0.561-1.649l-2.842,0.241l-2.813-1.983L540.216,100.144z"/>
          <path id="Hungary" class="st1" d="M545.959,101.883l3.54-0.624l1.142-0.188l1.081-0.371l1.708-3.826l1.976-1.315l-1.994-1.417
            l-3.712-0.469l-4.679,2.494l-3.535-0.826l-0.206,0.039l-0.195,0.94l-1.486,0.035l0.69,0.478l-0.363,1.666l-0.954,0.424
            l1.331,1.219l2.813,1.983L545.959,101.883z"/>
          <path id="Latvia" class="st1" d="M547.659,69.804l0.112,1.064l2.366-1.029l6.67,0.38l4.058,1.847l3.348-1.415l-1.505-2.268
            l0.148-1.146l-1.251-0.689l-1.963,0.028l-3.071-1.644l-2.124,0.625l0.517,1.814l-1.287,0.847l-3.063-2.321l-1.922,0.529
            l-1.237,2.189L547.659,69.804z"/>
          <path id="Belarus" class="st1" d="M560.865,72.066l-0.192,0.995l0.88,0.18l-2.196,1.228l-0.298,1.61l0.644,0.517l-5.273,0.641
            l1.579,3.664l-1.653,1.363l1.218,0.616l0.155,1.678l1.745-1.093l3.28-0.16L572.57,85.4l0.484-2.502l1.992-0.104l-1.767-2.776
            l3.231-1.323l-2.517-1.022l0.029-0.787l-2.937-2.187l0.43-0.747l-0.582-1.67l-6.721-1.63L560.865,72.066z"/>
          <path id="Lithuania" class="st1" d="M548.066,73.106l-0.058-1.174l-0.163,1.291l0.102,0.032L548.066,73.106z M556.806,70.219
            l-6.67-0.38l-2.366,1.029l0.84,2.469l0.39-0.009l3.45,1.061l0.103,1.597l1.876,1.252l5.273-0.641l-0.644-0.517l0.298-1.61
            l2.196-1.228l-0.88-0.18l0.192-0.995L556.806,70.219z"/>
          <path id="Macedonia" class="st1" d="M552.474,117.265l0.432,0.165l4.861-1.508l0.068-1.297l-1.837-1.728l-4.396,1.358l-0.09,1.701
            L552.474,117.265z"/>
          <path id="Bosnia" class="st1" d="M543.84,111.164l2.132,0.991l0.436-2.112l1.268-0.788l0.666-0.509l-0.786-1.014l0.957-0.115
            l-1.389-0.941l0.518-1.636l-0.825,0.085l-2.054-0.853l-6.188-0.102l1.128,2.985l3.942,3.843L543.84,111.164z"/>
          <path id="Italy" class="st1" d="M529.066,98.513l-4.084,0.404l0.038,1.007l-1.03,0.02l0.247,0.968l-2.15-0.831l-0.519,2.035
            l-1.579-1.935l-1.378,1.684l-2.041-0.04l-0.581,0.467l0.877,1.613l-1.258,0.454l1.062,0.857l-0.082,1.678l1.741,0.347l-0.296,1.17
            l3.002-1.961l3.483,1.292l2.762,4.943l12.142,7.326l1.666,3.553l-1.36,2.884l1.139,0.282l1.21-2.814l1.455-0.519l-0.139-1.359
            l-1.799-1.196l0.952-2.131l2.472,0.507l1.381,1.547l0.337-1.086l-1.412-1.589l-5.528-2.587l0.438-1.345l-3.617-0.527l-1.962-1.794
            l-1.179-2.706l-3.298-2.12l-0.395-1.438l0.692-0.753l-1.004-0.932l0.263-0.629l2.219-0.957l1.345,0.562l0.497-0.128l-1.174-1.154
            l0.437-0.515l-0.737-0.37l0.787-0.71l-3.208-0.509L529.066,98.513z M530.473,108.082l-0.121-0.189l0.232-0.089L530.473,108.082z
             M530.795,114.191l0.016-0.015l0.014,0.02L530.795,114.191z M530.098,103.403l-0.125-0.023l-0.109,0.259L530.098,103.403z
             M523.993,110.719l-0.038-0.126l-0.068,0.036l0.015,0.166L523.993,110.719z M525.537,111.301l-0.851,0.22l0.826,0.195
            L525.537,111.301z M524.68,112.135l0.031-0.066l-0.054-0.078L524.68,112.135z M526.824,112.893l-0.107-0.193l-0.024,0.09
            L526.824,112.893z M525.299,112.917l0.02-0.079l-0.085-0.02L525.299,112.917z M523.408,116.527l-3.361,0.723l1.054,3.279
            l-0.289,2.881l1.182,0.254l0.369-1.235l1.44,0.369l0.489-4.341L523.408,116.527z M520.406,116.788l-0.053-0.183l-0.257,0.4
            L520.406,116.788z M532.304,117.343l0.053-0.148l-0.095,0.042L532.304,117.343z M534.873,117.911l-0.016-0.128l-0.241,0.024
            L534.873,117.911z M535.567,118.35l-0.03,0.075l0.163-0.059L535.567,118.35z M520.5,122.98l0.017-0.307l-0.202,0.08L520.5,122.98z
             M538.498,124.012l0.06-0.114l-0.124,0.05L538.498,124.012z M533.216,124.269l0.061-0.068l-0.094-0.01L533.216,124.269z
             M537.646,124.778l-0.008-0.15l-0.19,0.033L537.646,124.778z M537.888,125.053l0.009-0.231l-0.134,0.003L537.888,125.053z
             M537.99,125.314l-0.09-0.215l-0.04,0.102L537.99,125.314z M539.437,126.044l-4.554,0.535l-1.218-0.797l-2.265,1.359l7.135,3.702
            l0.553-1.162l-0.685-1.519L539.437,126.044z M530.469,126.634l-0.044-0.114l-0.076,0.007L530.469,126.634z M531.207,126.787
            l-0.043-0.091l-0.177-0.006L531.207,126.787z M530.489,130.555l0.077-0.189l-0.312-0.106L530.489,130.555z"/>
          <path id="Montenegro" class="st1" d="M545.972,112.155l0.152,0.357l2.366,1.846l0.496-2.363l1.099,0.175l0.611-0.997l-3.02-1.919
            l-1.268,0.788L545.972,112.155z"/>
          <path id="Netherlands" class="st1" d="M508.067,85.115l1.142-0.016l-2.09-0.071L508.067,85.115z M512.767,81.862l0.21-0.234
            l-0.006-0.157l-0.511-0.172l-1.19,0.669l0.711,0.352l0.25-0.058l0.084-0.257L512.767,81.862z M511.932,81.192l-0.914,0.008
            l0.052,0.726L511.932,81.192z M510.331,80.122l0.264-0.586l-0.391,0.387L510.331,80.122z M510.766,79.374l0.347-0.198
            l-0.528,0.268L510.766,79.374z M515.282,78.836l-5.02,1.39l-0.325,1.464l1.078,0.29l-0.012-0.783l0.638-0.22l-0.508-0.729
            l0.615-0.369l0.145,0.32l-0.115,0.262l0.836,0.12l-0.275,0.243l0.011,0.3l0.614,0.157l0.066,0.295l-0.237,0.316l-0.351,0.155
            l-0.209,0.264l-0.259,0.056l-2.025-0.646l-1.669,1.963l0.734,0.394l-1.154-0.074l1.456,0.795l-2.038-0.266l1.962,0.49l1.888-0.34
            l1.976,1.008l-0.47,0.968l0.905,0.252l-0.385-0.883l0.816-1.281l-0.661-1.041l2.058-0.48l0.512-1.276l-0.919-0.495l0.853-0.286
            l0.293-1.811L515.282,78.836z M511.361,79.036l0.864-0.295l-0.971,0.223L511.361,79.036z M512.501,78.696l-0.154,0.064
            l0.762-0.064H512.501z M513.534,78.723l0.482-0.148l-0.454,0.016L513.534,78.723z"/>
          <path id="Norway" class="st1" d="M518.848,63.976l-0.038-0.009l0.02-0.065l0.054-0.005l0.003,0.045L518.848,63.976z
             M512.468,62.329l-0.039-0.015l0.031-0.019L512.468,62.329z M511.923,62.02l-0.408-0.153l0.317,0.004L511.923,62.02z
             M512.415,61.581l-0.103-0.134l0.338,0.039L512.415,61.581z M510.919,61.608l-0.291,0.21l0.035-0.773L510.919,61.608z
             M510.8,59.92l-0.233,0.633l-0.123-0.824L510.8,59.92z M511.14,60.057l-0.33-0.625l0.439,0.234L511.14,60.057z M511.375,59.645
            l-0.379-0.287l0.655-0.241L511.375,59.645z M510.787,59.321l-0.226-0.077l0.001-0.262L510.787,59.321z M512.312,59.076
            l-0.075-0.162l0.207-0.004L512.312,59.076z M510.647,58.633l-0.039-0.027l0.075-0.01L510.647,58.633z M510.419,58.796
            l-0.375-0.184l-0.029-0.516L510.419,58.796z M510.58,58.15l-0.446-0.354l0.403,0.14L510.58,58.15z M510.547,57.869l-0.585-0.287
            l0.436,0.079L510.547,57.869z M511.367,58.085l-0.434-0.268l0.683-0.46L511.367,58.085z M510.479,57.65l-0.691-0.436l0.281,0.051
            L510.479,57.65z M509.411,56.48l-0.147-0.056l-0.012-0.166L509.411,56.48z M510.041,56.142l-0.396,0.173l-0.047-0.294
            L510.041,56.142z M509.854,54.219l-0.293-0.19l0.917-0.014L509.854,54.219z M510.132,53.793l-0.138-0.259l0.26,0.06
            L510.132,53.793z M511.372,53.037l-0.314-0.105l0.654-0.139L511.372,53.037z M511.787,52.887l-0.094-0.362l0.371-0.126
            L511.787,52.887z M512.671,52.455l-0.51-0.125l0.681,0.063L512.671,52.455z M513.685,51.67l-0.191-0.04l0.583-0.079L513.685,51.67
            z M513.994,51.358l-0.251-0.195l0.358,0.003L513.994,51.358z M515.406,50.872l-0.405-0.136l0.751-0.017L515.406,50.872z
             M515.961,50.659l-0.288-0.093l0.508-0.065L515.961,50.659z M516.484,50.324l-0.296-0.086l0.567,0.054L516.484,50.324z
             M517.198,50.274l-0.283-0.303l0.36-0.05l0.318,0.267L517.198,50.274z M517.43,49.821l-0.177-0.036l0.527-0.042L517.43,49.821z
             M516.666,49.702l-0.838-0.126l0.667-0.172L516.666,49.702z M517.371,49.512l-0.47-0.103l1.917-0.282L517.371,49.512z
             M517.976,48.435l-0.008,0.318l-1.127,0.052L517.976,48.435z M523.493,46.458l-0.593,0.02l-0.323-0.341L523.493,46.458z
             M523.24,46.078l-0.073,0.149l-0.3-0.134L523.24,46.078z M522.989,45.422l-0.92,0.111l0.573-0.294L522.989,45.422z
             M522.648,45.196l-0.782,0.295l0.085-0.164L522.648,45.196z M523.741,44.918l-0.223,0.012l0.499-0.147L523.741,44.918z
             M524.849,44.957l-0.378-0.07l0.393-0.367l0.307,0.274l-0.057,0.071L524.849,44.957z M524.634,44.511l0.288-1.013l0.569,0.511
            L524.634,44.511z M524.307,43.357l-0.453,0.028l0.264-0.242L524.307,43.357z M525.432,42.61l-0.268,0.009l0.302-0.323l0.694,0.005
            L525.432,42.61z M524.997,42.263l0.388-0.539l0.229,0.312L524.997,42.263z M525.876,41.733l-0.179-0.091l0.317-0.083
            L525.876,41.733z M526.27,41.695l-0.117,0.005l0.462-0.141L526.27,41.695z M528.645,39.212l-0.094,0.365l-0.443-0.216
            L528.645,39.212z M528.562,38.597l-0.075,0.001l0.307-0.174L528.562,38.597z M530.34,37.125l-0.566-0.064l0.768,0.01
            L530.34,37.125z M531.756,36.912l-0.836-0.024l0.716-0.07L531.756,36.912z M525.503,37.373l0.565-0.738l-0.005,0.348
            L525.503,37.373z M526.638,36.55l-0.534,0.274l0.238-0.374L526.638,36.55z M527.688,36.211l0.344-0.003l-1.355,0.465
            L527.688,36.211z M529.549,36.283l-0.106-0.115l0.23-0.037L529.549,36.283z M528.171,36.209l-0.337-0.173l0.339,0.006
            L528.171,36.209z M527.693,36.17l-0.201-0.132l0.217-0.021L527.693,36.17z M529.819,35.896l-1.628,0.547l1.887-0.805
            L529.819,35.896z M532.626,35.745l-0.632,0.039l0.424-0.369L532.626,35.745z M533.946,34.827l-0.61,0.065l0.333-0.338
            L533.946,34.827z M534.187,34.73l-0.371-0.326l0.74,0.121L534.187,34.73z M529.491,34.505l-0.238-0.025l0.076-0.138
            L529.491,34.505z M531.643,34.829l-0.424,0.607l0.776-0.874l0.865,0.536l-3.084,1.089l1.327-1.214l-0.558-0.171l0.309-0.494
            L531.643,34.829z M532.715,34.486l-0.596-0.233l0.702,0.057L532.715,34.486z M530.374,34.578l-0.564,0.732l-1.445-0.299
            l1.543-0.345l-0.193-0.525L530.374,34.578z M534.46,34.175l-0.142-0.076l0.395-0.189L534.46,34.175z M530.637,34.415l0.008-0.505
            l1.122-0.512L530.637,34.415z M534.691,32.787l0.922,0.227l-0.041,0.641l-2.445,0.336l0.758-0.351l-0.572-0.524L534.691,32.787z
             M559.828,32.082l-0.095-0.015l0.024-0.027L559.828,32.082z M537.148,32.32l-1.759,0.275l1.483-0.251l-0.207-0.534L537.148,32.32z
             M540.706,32.011l-0.271-0.113l0.342-0.143L540.706,32.011z M559.183,32.148l-0.078-0.406l0.474,0.219L559.183,32.148z
             M542.759,31.686l-0.13-0.029l0.094-0.021L542.759,31.686z M538.441,31.897l-0.213,0.024l0.822-0.343L538.441,31.897z
             M539.158,31.49l-0.126-0.028l0.197,0.009L539.158,31.49z M537.824,31.435l0.802,0.083l-1.926,0.16L537.824,31.435z
             M541.023,31.423l0.435,0.069l-0.686,0.039L541.023,31.423z M541.246,31.452l-0.101-0.016l0.184-0.063L541.246,31.452z
             M536.749,31.21l0.45,0.072l-0.601,0.231L536.749,31.21z M541.053,31.294l-0.229-0.097l0.077-0.087L541.053,31.294z
             M538.406,31.235l-0.532-0.078l0.143-0.122L538.406,31.235z M540.82,30.992l-0.028,0.363l-0.822-0.112L540.82,30.992z
             M539.419,31.228l-0.67,0.104l-0.556-0.483L539.419,31.228z M537.548,31.181l-0.322-0.102l0.359-0.246L537.548,31.181z
             M544.764,30.628l0.417,0.192l-1.352-0.198L544.764,30.628z M542.67,30.801l-0.21-0.303l0.304,0.083L542.67,30.801z
             M546.15,29.982l-0.563,0.788l-0.831-0.336L546.15,29.982z M546.737,30.155l-0.579-0.483l1.028,0.213L546.737,30.155z
             M545.745,29.443l-1.185,0.692l-1.735-0.332L545.745,29.443z M546.888,29.115l-0.409-0.221l0.746,0.109L546.888,29.115z
             M548.287,28.815l-0.34-0.096l0.408-0.076L548.287,28.815z M550.283,28.62l0.819,0.17l-1.847,0.033L550.283,28.62z M510.76,54.739
            l-0.132,0.014l0.151,0.005L510.76,54.739l-0.887-0.24l3.988-0.549l-3.55-0.069l0.546-0.354l-0.577-0.559l2.663,0.447l-0.983-0.459
            l0.829-0.445l0.543,0.762l-0.365-0.756l1.059-0.129l0.415,0.938l0.793-0.417l-1.424-0.701l-1.14,0.084l0.85-0.141l-0.889-0.217
            l4.118-0.328l-2.589-0.092l0.131-0.696l3.342,0.891l-1.519-1.013l1.446,0.48l-0.858-0.791l1.672-0.245l-1.014-0.246l0.609-0.146
            l-0.252-0.181l0.75-0.165l0.932,0.256l-0.623-0.303l1.046-0.394l1.396,1.025l-0.485-0.41l1.855-0.127l-0.566-0.279l1.661-0.669
            l-0.809-0.257l0.83-0.397l-0.377-0.036l0.065-0.22l-0.114-0.016l-0.243,0.305l-1.255,0.572l0.689-0.251l0.386,0.16l-0.267,0.28
            l-1.873,0.683l-0.594-0.47l0.644-0.28l-1.195-0.005l1.354-0.47l-0.459-0.169l1.002-1.216l0.977-0.497l0.604,0.799l1.016-0.739
            l-0.652-0.368l1.615-0.631l-1.96,0.15l1.394-0.508l0.105,0.111l0.052-0.083l0.22,0.046l0.985-0.263l0.618-0.486l-1.443,0.222
            l0.772-0.529l-0.651-0.635l0.907,0.032l-0.336-0.777l1.089,0.187l-0.139-0.252l-0.41-0.096l0.038-0.186l-0.608-0.068l3.015-0.702
            l-2.307,0.374l1.033-0.324L526.15,40.9l1.555-0.23l-1.073-0.303l1.57-0.195l-0.97-0.392l4.48-0.672l-2.883-0.168l1.284-0.917
            l1.359,0.828l-0.28-0.574l0.711-0.223l-2.444-0.669l2.253-0.32l0.152-0.243l-1.404-0.061l1.34-0.567l0.637,0.967l0.61,0.255
            l-0.673-0.562l1.02-0.176l-1.337-0.568l1.498,0.393l-1.094-0.636l2.205,0.521l-0.393-0.521l0.657-0.423l-2.231,0.043l2.438-0.394
            l-0.948-0.269l1.135-0.006l-0.809-0.397l1.375-0.661l0.069-0.891l2.515,0.694l-1.181-1.031l1.554-0.523l0.017,1.011l1.006-1.43
            l-0.382,1.892l1.724-0.621l-0.825-0.398l1.476-1.009l1.744,0.738l-0.766-0.775l0.56-0.211l-1.668-0.352l3.333,0.109l-1.241,0.44
            l2.114,0.259l0.43-1.264l2.02-0.53l-1.057-0.407l0.58-0.486l2.664,0.2l-1.426,1.013l0.46,0.266l-0.476,0.82l0.586-0.005
            l2.141-2.23l0.238,1.51l0.978-0.292l0.853-0.867l-0.957-0.402l0.921-0.404l1.885,0.378l-1.553,0.95l1.22-0.282l-0.727,0.614
            l0.95-0.07l-0.295,1.168l0.527-1.748l0.911-0.386l4.503,1.535l-4.819,0.478l2.227,0.371l-0.538,0.297l0.714-0.132l-0.33,0.662
            l2.663-0.363l0.29,0.646l-1.713-0.303l-1.897,1.629l-0.426-0.291l0.469-1.264l-2.226-0.734l-3.465-0.04l-0.859,0.673l0.043,1.823
            l-1.444,1.095l-2.101-0.676l-3.154,0.326l-2.508-1.645l-1.372,0.71l-0.976,0.048l0.637,0.684l-0.633,1.208l-3.859-0.459
            l-0.19,1.518l-2.366,0.126l-1.141,1.324l0.703,1.075l-1.875,1.475l0.289,0.54l-1.971,0.417l0.242,2.268l-1.537,2.039l1.005,0.314
            l-0.133,1.27l-2.267-0.099l-1.589,1.322l-0.356,0.882l1.05,2.872l-0.235,1.524l1.71,1.05l-1.331,1.036l0.982,1.402l-0.115,1.175
            l-1.448,0.769l0.041,2.202l-0.701,0.3l-1.47-0.581l-0.66-1.58l0.391-0.46l-0.492,0.034l0.142,0.966l-0.794-0.537l0.751,1.213
            l-0.584,0.795l-1.572-0.222l0.37,0.385l-0.612,0.414l-0.458,0.536l-0.431,0.176l-0.613,0.459l-0.035,0.19l-0.393,0.314
            l-0.584,0.201l-0.069,0.254l-3.664,0.133l0.362-0.494l-3.033-1.484l0.182-0.843l1.415,0.586l0.997-0.642l-1.71-0.06l1.293-1.409
            l-2.118,0.817l-0.775-0.68l2.49-0.975l-1.36,0.031l1.073-1.343l0.955-0.332l-0.22,0.967l1.248-1.209l-1.963,0.236l-1.003,1.234
            l-0.077-1.16l-0.691,0.745l-0.624-0.628l1.235-0.313l-0.033-0.693l-0.96,0.408l-0.765-0.71l1.14,0.496l-0.455-0.424l0.648-0.284
            l-1.183-0.475l0.913,0.034l1.098-0.281l1.007,0.176l0.471-0.257l1.201,0.839l-0.286-0.68l0.933-0.245L515.14,55.6l0.567-0.531
            l-0.566,0.336l-0.067,0.24l0.193,0.256l-0.163,0.09l-0.706,0.14l-0.881-0.312l0.282-0.526l-0.382,0.446l-0.033,0.334l-1.66-0.065
            l-0.768,0.242l-1.002-0.547l1.491-0.293l-1.518-0.15l1.883-0.115l-1.494-0.212l0.312-0.089l-0.28-0.101L510.76,54.739z
             M512.056,62.401l-0.054-0.026l0.014,0.031L512.056,62.401z"/>
          <path id="Poland" class="st1" d="M544.965,90.723l1.495-0.255l1.601,1.311l3.68-0.806l2.424,1.103l0.831,0.237l-0.717-1.759
            l3.076-3.058l-1.628-2.936l-0.155-1.678l-1.218-0.616l1.653-1.363l-1.579-3.664l-1.876-1.252l-7.052-0.221l-1.299,0.326
            l0.949-0.381l-0.059-0.022l-1.817,0.33l-0.625-0.246l-0.527-0.922l0.805,0.173l-1.003-0.453l-0.97,0.03l-8.399,2.694v0.179
            l0.947,0.158l-0.767,0.353l-0.076,2.523l1.247,0.878l0.104,2.288l1.192,1.624l-0.391,1.282l3.713,0.627l-0.262,0.727l1.147,0.969
            l0.843-0.334l-0.336-0.683l2.053,0.367l-0.093,0.65l2.294,0.596L544.965,90.723z"/>
          <path id="Portugal" class="st1" d="M453.495,143.087l0.392,0.588l0.627-0.384L453.495,143.087z M455.712,142.229l-0.103-0.044
            l-0.211,0.22L455.712,142.229z M478.053,114.278l0.041-0.855l-1.412,0.616l0.064,3.917l-2.36,6.25l1.325-0.76l-0.577,1.69
            l1.327,0.019l-0.973,4.481l4.097-0.743v-1.44l1.364-1.541l-0.97-0.871l1.002-1.846l-1.436-2.043l1.332-0.018l0.345-4.208
            l1.958-1.739l-1.007-1.152L478.053,114.278z"/>
          <path id="Spain" class="st1" d="M450.554,159.055l-0.702,0.109l0.495,0.316L450.554,159.055z M456.933,159.105l0.539-0.807
            l-0.894-0.462L456.933,159.105z M452.581,158.278l0.213-0.373l-0.576-0.119L452.581,158.278z M454.88,157.158l0.523-0.64
            l-2.07,0.731l0.607,1.132L454.88,157.158z M460.283,158.184l1.114-0.643l0.198-1.591L460.283,158.184z M450.865,156.893
            l0.353-0.925l-0.493-0.327L450.865,156.893z M462.316,155.397l0.484-0.966l-1.14,1.029L462.316,155.397z M491.299,135.301
            l0.028-0.022l-0.083-0.179L491.299,135.301z M485.024,133.336l-0.198-0.127l0.126,0.241L485.024,133.336z M491.029,133.221
            l0.024-0.038l-0.063,0.028L491.029,133.221z M503.108,124.277l-0.506-0.105l0.02,0.247L503.108,124.277z M502.983,123.432
            l-0.034-0.531l-0.794,0.702L502.983,123.432z M507.401,120.945l-0.678-0.557l-1.599,1.123l1.82,0.928l1.058-1.419L507.401,120.945
            z M510.038,120.23l-1.232-0.176l1.249,0.665L510.038,120.23z M479.158,108.499l-3.503,1.858l0.345,1.911l0.84-0.512l-0.437,1.363
            l0.75-0.308l-0.843,0.748l0.373,0.478l1.412-0.616l-0.041,0.855l4.121-0.243l1.007,1.152l-1.958,1.739l-0.345,4.208l-1.332,0.018
            l1.436,2.043l-1.002,1.846l0.97,0.871l-1.364,1.541v1.44l2.784,1.267l0.786,2.198l1.789,0.055l0.056,0.002l2.486-1.807l5.945-0.03
            l1.284-2.071l2.426-0.755l0.536-2.311l1.869-1.305l-1.413-2.242l1.001-1.898l2.349-3.114l5.636-2.58l-0.02-1.75l-3.704-0.223
            l-0.709-0.284l-5.107-0.55l-3.082-1.771l-13.321-0.399L479.158,108.499z M480.904,129.158l-0.076-0.031l-0.047-0.097
            L480.904,129.158z"/>
          <path id="Romania" class="st1" d="M550.641,101.071l-1.142,0.188l3.435,2.974l-0.165,1.138l1.974,0.926l0.76-0.709l0.77,0.464
            l-0.745,0.26l0.648,0.765l0.965,0.455l-0.347,0.715l3.352,0.483l3.183,0.177l3.855-1.593l4.069,1.223l0.207-3.664l1.764,0.377
            l0.114-1.204l-3.733-0.73l-0.842-4.347l-4.272-4.349l-4.001,1.691l-5.083-0.753l-1.976,1.315l-1.708,3.826L550.641,101.071z"/>
          <path id="Moldova" class="st1" d="M568.762,98.969l0.842,4.347l1.649-1.723l-0.153-1.459l2.834,0.286l-0.613-1.326l-2.186-1.95
            l-0.356-1.684l-3.622-1.442l-2.668,0.602L568.762,98.969z"/>
          <path id="Slovenia" class="st1" d="M533.11,99.985l-0.787,0.71l0.737,0.37l-0.437,0.515l1.174,1.154l-0.497,0.128l-0.289,0.353
            l2.483-0.597l1.489,0.77l1.21-1.291l-0.197-1.16l2.221-0.792l0.088-0.003l-1.331-1.219l-3.782,1.432L533.11,99.985z"/>
          <path id="Sweden" class="st1" d="M537.754,68.643l0.438-1.542L537,70.47L537.754,68.643z M540.875,68.391l1.451-2.942
            l-1.878,1.112L540.875,68.391z M543.058,65.31l-0.662,0.161l0.233,0.181L543.058,65.31z M525.43,65.379l0.296-0.321l-0.531,0.015
            L525.43,65.379z M537.267,64.839l-0.038-0.021l-0.043,0.067L537.267,64.839z M525.868,64.826l-0.333-0.488l-0.591,0.459
            L525.868,64.826z M542.685,64.189l0.202-0.085l-0.338-0.074L542.685,64.189z M538.963,62.491l-0.086-0.403l-0.052,0.244
            L538.963,62.491z M540.535,62.178l0.128-0.281l-0.242,0.248L540.535,62.178z M540.754,61.594l0.153-0.088l-0.509-0.089
            L540.754,61.594z M539.032,61.341l-0.053-0.181l-0.395-0.128L539.032,61.341z M538.92,61.383l-0.527-0.356l0.272,0.33l0.448,0.08
            L538.92,61.383z M537.838,61.155l-0.024-0.203l-0.448-0.045L537.838,61.155z M540.753,60.939l0.347-0.282l-0.389,0.054
            L540.753,60.939z M540.404,58.443l-0.511-0.555l0.113,0.389L540.404,58.443z M537.265,52.536l-0.117-0.271l-0.234-0.038
            L537.265,52.536z M538.35,51.66l0.178-0.165l-0.251-0.019L538.35,51.66z M544.006,48.6l0.083-0.061h-0.195L544.006,48.6z
             M543.617,35.316l-2.748-1.313l-0.976,0.048l0.637,0.684l-0.633,1.208l-3.859-0.459l-0.19,1.518l-2.366,0.126l-1.141,1.324
            l0.703,1.075l-1.875,1.475l0.289,0.54l-1.971,0.417l0.242,2.268l-1.537,2.039l1.005,0.314l-0.133,1.27l-2.267-0.099l-1.589,1.322
            l-0.356,0.882l1.05,2.872l-0.235,1.524l1.71,1.05l-1.331,1.036l0.982,1.402l-0.115,1.175l-1.448,0.769l0.041,2.202l-0.701,0.3
            l-0.716-0.047l0.339,1.769l1.374,0.238l0.226,0.312l-0.302,1.515l2.991,3.13l-0.554,0.672l0.487,0.532l-0.853-0.193l1.563,1.799
            l-0.105,0.872l2.826,0.043l-0.07-1.324l1.016-0.984l2.727,0.205l1.454-4.08l-0.771-1.25l0.695,0.451l-0.551-0.722l0.661,0.298
            l-0.392-0.302l0.407-0.625l-1.029-0.808l1.188-0.028l-1.737-0.42l2.573-0.365l0.557-1.216l0.636,0.904l0.837-0.8l-0.145-0.52
            l0.806-0.082l-0.5-0.276l0.112,0.301l-0.413-0.112l-0.956,0.304l-1.139-0.175l0.084,0.224l-1.291-0.705l-0.325,0.053l0.474,0.257
            l-1.993-0.325L538,60.339l0.858,0.618l0.09-0.271l-0.555-0.386l0.105-0.183l-0.227,0.073l0.117,0.388l-0.259-0.3l0.287-0.38
            l0.167,0.258l0.006,0.152l-0.122,0.028l0.278-0.021l0.336,0.379l-0.132,0.386l0.422,0.19l2.396-1.235l-4.759-3.431l-0.308-2.226
            l0.82,0.24l-0.444-0.886l0.56-0.817l-0.809-0.729l1.524-0.326l-0.917-1.11l1.197,0.606l2.325-2.183l2.767-0.901l1.464-1.603
            l-1.354-1.076l1.093-0.886l-0.859-0.543l1.885-0.577l-1.001-0.491l1.443,0.519l-0.31-0.816l0.627-0.21l3.256,0.253l-1.331-1.375
            l0.459-1.342l-1.101-0.974l0.266-0.708l-0.724-0.135l0.227-1.293L543.617,35.316z"/>
          <path id="Switzerland" class="st1" d="M518.021,96.833l-0.274-0.128l-1.466,0.271l-2.41,3.99l2.031-0.695l0.667,1.553l2.041,0.04
            l1.378-1.684l1.579,1.935l0.519-2.035l2.15,0.831l-0.247-0.968l1.03-0.02l-0.038-1.007l-2.193-0.597l-0.306,0.02l0.114-0.673
            l0.042-0.824l-2.507-0.826l0.055,0.668L518.021,96.833z M520.502,96.357l-0.078,0.011l-0.022-0.055L520.502,96.357z"/>
          <path id="UK" class="st1" d="M483.717,89.506l-0.008-0.067l-0.057,0.057L483.717,89.506z M496.449,87.126l-0.572-0.259
            l-0.663,0.341L496.449,87.126z M496.744,86.85l-0.078-0.163l-0.126,0.138L496.744,86.85z M487.803,85.682l-0.031-0.109
            l-0.022,0.103L487.803,85.682z M488.171,79.372l-0.112-0.25l-0.173,0.06L488.171,79.372z M489.161,79.411l-0.972-0.49l0.374,0.791
            L489.161,79.411z M484.19,73.37l-2.121,0.5l-0.376,0.351l-1.842,1.532l1.363,0.945l1.284-0.873l1.756,0.954l2.012-1.152
            l-1.11-0.363l0.539-0.603L484.19,73.37z M484.618,73.205l-0.256,0.002l0.216,0.097L484.618,73.205z M487.125,72.771l-0.107-0.717
            l-0.514,0.031L487.125,72.771z M484.808,71.458l-0.924,0.586l1.001,0.096L484.808,71.458z M487.356,71.926l-0.035-0.345
            l-0.388-0.184L487.356,71.926z M484.659,71.011l0.157-0.273l-0.317,0.252L484.659,71.011z M485.207,71.604l0.622-0.944
            l-0.919,0.719L485.207,71.604z M485.737,70.628l0.138-0.034l0.004-0.067L485.737,70.628z M485.984,70.512l0.061-0.171
            l-0.082-0.017L485.984,70.512z M486.023,70.298l0.081-0.151l-0.145,0.055L486.023,70.298z M484.205,70.195l0.057-0.111l-0.13,0.09
            L484.205,70.195z M486.204,69.96l0.081-0.084l-0.182,0.065L486.204,69.96z M484.777,69.717l-0.111-0.098l-0.105,0.047
            L484.777,69.717z M483.461,69.565l-0.584,0.063l0.219,0.166L483.461,69.565z M485.665,69.586l-1.226-0.279l0.718,0.323
            l-0.457,0.394l0.408-0.04l-0.813,0.196l1.29-0.026l0.384-0.351L485.665,69.586z M483.815,69.375l0.324-0.315l-0.577,0.315H483.815
            z M484.876,68.515l0.079-0.185l-0.232,0.076L484.876,68.515z M484.487,68.325l0.141-0.307l-0.441,0.094L484.487,68.325z
             M481.845,68.306l0.08-0.336l-0.291,0.279L481.845,68.306z M484.085,67.976l-0.113-0.047l-0.125,0.064L484.085,67.976z
             M485.398,67.308l0.016-0.099h-0.192L485.398,67.308z M482.464,67.133l-0.456-0.132l0.059,0.809L482.464,67.133z M482.368,66.951
            l0.156-0.183l-0.461-0.01L482.368,66.951z M485.203,67.159l0.128-0.494l-0.238,0.3L485.203,67.159z M484.965,66.452l-1.484,0.36
            l1.719,1.253l0.821-0.541l-1.05-0.299L484.965,66.452z M485.362,66.586l0.02-0.154l-0.071,0.101L485.362,66.586z M482.594,66.101
            l-0.825,0.284l0.878,0.24L482.594,66.101z M482.578,66.057l0.122-0.063l-0.172,0.047L482.578,66.057z M479.495,65.737
            l-0.149-0.035l0.085,0.07L479.495,65.737z M483.038,65.529l0.034-0.11l-0.197,0.114L483.038,65.529z M484.928,64.134l-1.916,0.361
            l0.431,0.978l-0.68,0.245l1.497-0.361L484.928,64.134z M483.549,64.583l-0.152-0.002l-0.04-0.143L483.549,64.583z M489.161,79.411
            l-1.48,1.319l1.502-0.379l-0.038,1.755l-2.723,1.836l4.539,1.071l2.34-1.148l-1.585,1.675l-2.887,0.052l-3.693,3.479l1.253,0.302
            l2.007-1.256l1.597,0.483l1.948-1.611l1.177,0.583l3.103-0.926l0.55,0.014l0.314,0.349l1.309-0.31l1.201,0.27l1.768-0.593
            l0.98-1.392l-2.412-0.191l1.362-0.475l-0.604-0.344l1.255-0.272l1.24-1.964l-1.126-1.428l-3.048,0.145l0.811-0.654l-0.253-0.916
            l-2.256-0.905l1.978,0.407l-0.456-1.647l-2.862-1.954l-0.762-2.442l-2.295-1.411l-2.537,0.081l2.66-0.715l-1.602-0.266
            l1.746-0.656l1.77-2.602l-0.681-0.712l-5.401,0.367l1.536-0.814L489,65.459l2.724-1.173l0.437-1.006l-4.483,0.071l-1.082,1.605
            l0.779,0.664l-1.631,0.086l0.67,0.846l-0.73,0.504l0.851-0.166l-0.486,0.764l0.567,0.165l-1.966,1.145l1.582,0.081l-1.07,0.161
            l0.747,0.426l1.319-0.957l-0.678,1.002l0.674-0.086l-1.095,0.543l-0.589,3.062l1.831-2.788l-0.667,1.136l1.127-0.781l0.786,0.571
            l-0.922-0.045l0.577,1.314l-1.356,1.477l0.511,1.053l0.229-0.658l1.072,0.578l0.006-0.696l3.208-0.187l-1.461,1.373l0.932,1.24
            l0.978-0.373l-0.731,2.018l0.947,0.619L489.161,79.411z M501.187,85.076l-0.409-0.153l0.418-0.026L501.187,85.076z
             M492.409,63.032l0.078-0.293l-0.341,0.041L492.409,63.032z M491.704,62.904l0.22-0.074l-0.633-0.302L491.704,62.904z
             M492.705,62.39l-1.25-0.453l0.34,0.571L492.705,62.39z M492.971,61.676l0.66-0.255l-0.371-0.058L492.971,61.676z M492.507,61.386
            l-0.417-0.105l0.441,0.3L492.507,61.386z M496.127,57.912l-0.891,0.612l0.895,0.111l0.04,1.132l0.531-1.719L496.127,57.912z
             M496.72,57.899l-0.148-0.677l-0.164,0.586L496.72,57.899z M497.19,57.341l0.139-0.372l-0.266-0.077l-0.197,0.451L497.19,57.341z"
            />
          <path id="Ukraine" class="st1" d="M581.396,101.579l-0.206-0.118l-0.506,0.041L581.396,101.579z M584.33,101.422l-0.062-0.389
            l-0.132,0.27L584.33,101.422z M579.154,101.163l-1.767-0.683l0.262,0.351L579.154,101.163z M578.803,82.043l-3.757,0.751
            l-1.992,0.104L572.57,85.4l-11.817-2.093l-3.28,0.16l-1.745,1.093l1.628,2.936l-3.076,3.058l0.717,1.759l-0.831-0.237
            l-0.753,2.066l1.994,1.417l5.083,0.753l4.001-1.691l2.668-0.602l3.622,1.442l0.356,1.684l2.186,1.95l0.613,1.326l-2.834-0.286
            l0.153,1.459l-1.649,1.723l3.733,0.73l-0.35-1.879l0.374,0.623l1.143-0.794l1.133-2.078l2.622-0.311l-0.691-1.873l0.979,1.934
            l1.553-0.036l-2.8,0.19l1.461,0.569l-0.61,0.349l4.599,0.42l0.517,0.701l-2.964,1.619l2.8,0.874l-0.172,1.637l1.581,0.607
            l3.537-2.257l2.345,0.156l0.324-0.956l-2.863,0.262l-0.459-0.283l-0.789-0.835l-0.786-1.284l-0.412-0.075l0.281,0.241l0.93,1.241
            l0.882,0.868l-0.538,0.02l-1.898-1.361l0.34-0.539l-2.542-0.863l2.186,0.103l-0.26,0.537l0.414,0.089l0.25-0.59l0.829-0.254
            l0.261-0.573l-0.332,1.137l1.981-1.78l5.512-1.42l-0.103-1.393l1.173-0.937l2.326,0.011l0.217-1.364l-1.045-0.989l0.86-0.799
            l-1.019-0.42l0.992-0.735l-0.303-1.088l-4.77-1.456l-0.578,0.525l-1.72-1.649l-4.442,0.216l-0.985-2.058l-2.522-0.679l-0.923-1.19
            l0.676-0.472l-1.734-1.675L578.803,82.043z"/>
          <path id="Serbia" class="st1" d="M550.085,112.17l1.517,2.085l4.396-1.358l0.036-1.526l1.306-1.136l-1.825-1.94l0.66-1.218
            l-0.648-0.765l0.745-0.26l-0.77-0.464l-0.76,0.709l-1.974-0.926l0.165-1.138l-3.435-2.974l-3.54,0.624l0.561,1.649l1.155,0.471
            l-0.858,1.121l0.825-0.085l-0.518,1.636l1.389,0.941l-0.957,0.115l0.786,1.014l-0.666,0.509l3.02,1.919L550.085,112.17z"/>
          <path id="Malta" class="st1" d="M537.688,133.734l-0.378-0.797l-0.645,0.07l0.149,0.424L537.688,133.734z M536.504,132.902
            l0.19-0.073l-0.425-0.087L536.504,132.902z"/>
          <path id="Slovakia" class="st1" d="M541.486,95.34l3.535,0.826l4.679-2.494l3.712,0.469l0.753-2.066l-2.424-1.103l-3.68,0.806
            l-1.601-1.311l-1.495,0.255l-4.393,2.777l0.708,1.879L541.486,95.34z"/>
          <path id="Luxembourg" class="st1" d="M513.633,88.679l-0.467,1.959l1.36,0.264l0.357-1.077l-0.982-0.982L513.633,88.679z"/>
        </g>
        <text x="520" y="100" font-family="sans-serif" font-size="20px" fill="red">{{articleCount}}</text>
        <ForeignObject><h3 onclick={{action "someAction"}}>Fire action on click</h3></ForeignObject>
        <ForeignObject>{{cont-modal isModalOpen=isModalOpen contTitle="Europe" articles=articles}}</ForeignObject>
        {{#if showHoverBox}}
          <rect width="50%" x="100" height="50%" y="100" fill="rgba(117, 115, 115, 0.16)"/>
          <text x="175" y="175" font-size="60" text-anchor="middle" fill="#fff">{{articles.firstObject.title}}</text><text x="245" y="205" font-size="30" text-anchor="middle" fill="#fff">{{articles.firstObject.story}}</text>
        {{/if}}