<nav class="new-mess">
  <h5>New Articles</h5>
  {{#if newArticles}}
    {{#each newMessagesArray as |newArticle|}}
      <div class="missle target-{{newArticle.relationships.location.data.id}}">{{fa-icon "rocket"}}</div>
      <p>{{newArticle.attributes.title}} - {{newArticle.relationships.location.data.id}}</p>
    {{/each}}
  {{else}}
    <div class="loading"></div>
    <h6 class="waiting"> Waiting</h6>
  {{/if}}
</nav>
