<ul class="errors">
  {{#each errors as |error|}}
    <li>{{error.message}}</li>
  {{/each}}
</ul>

{{#if newMessages}}
  <p>
    NEW MESSAGE!
  </p>
  {{#each newMessagesArray as |newArticle|}}
    <p>{{newArticle.attributes.title}}</p>
  {{/each}}
{{/if}}
Received Message: {{message}}<br>  
<button id="sendButtonPressed" {{action "sendButtonPressed"}}>Press Me</button>
{{yield}}

<h1>World articles</h1>
{{#each articles as |article|}}
  {{article-notice article=article}}
{{/each}}
<br/><br/>
<h1> USA Articles </h1>
{{#each usaArticles as |article|}}
  {{article-notice article=article}}
{{/each}}
