<div id="wrapper">
  {{cont-modal contTitle="Africa"}}
  <div id="map-container">    
    <svg version="1.1" id="world-map" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 1000 504" style="enable-background:new 0 0 1000 504;" xml:space="preserve">
      <g id="world_border">
        <!-- ANTARCTICA STARTS -->
        {{antartica-map articleCount=antCount.length}}  
        <!-- ANTARCTICA ENDS -->
        <!-- SOUTH AMERICA STARTS  -->
        {{samerica-map articleCount=samCount.length}}  
        <!-- SOUTH AMERICA ENDS -->
        <!-- OCEANIA STARTS -->
        {{oceania-map articleCount=oceCount.length}}
        <!-- OCEANIA ENDS -->
        <!-- NORTH AMERICA STARTS -->
        {{namerica-map articleCount=namCount.length}}
        <!-- NORTH AMERICA ENDS -->
        <!-- EUROPE STARTS -->
        {{europe-map articleCount=eurCount.length}}
        <!-- EUROPE ENDS -->
        <!-- ASIA STARTS -->
        {{asia-map articleCount=asiaCount.length}}
        <!-- ASIA ENDS -->
        <!-- AFRICA STARTS -->
        {{africa-map clickActivate= articles=afrCount articleCount=afrCount.length}}
        
        <!-- AFRICA ENDS -->
      </g>
    </svg>    
  </div>

</div>