<div id="wrapper">

  <div id="map-container">    
    <svg version="1.1" id="world-map" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 1000 504" style="enable-background:new 0 0 1000 504;" xml:space="preserve">
      <g id="world_border">
        <!-- ANTARCTICA STARTS -->
        <foreignObject>{{antartica-map}}</foreignObject>
        <!-- ANTARCTICA ENDS -->
        <!-- SOUTH AMERICA STARTS  -->
        <foreignObject>{{samerica-map}}</foreignObject>
        <!-- SOUTH AMERICA ENDS -->
        <!-- OCEANIA STARTS -->
        <foreignObject>{{oceania-map}}</foreignObject>
        <!-- OCEANIA ENDS -->
        <!-- NORTH AMERICA STARTS -->
        <foreignObject>{{namerica-map}}</foreignObject>
        <!-- NORTH AMERICA ENDS -->
        <!-- EUROPE STARTS -->
        <foreignObject>{{europe-map}}</foreignObject>
        <!-- EUROPE ENDS -->
        <!-- ASIA STARTS -->
        <foreignObject>{{asia-map}}</foreignObject>
        <!-- ASIA ENDS -->
        <!-- AFRICA STARTS -->
        <foreignObject>{{africa-map}}</foreignObject>
        <!-- AFRICA ENDS -->
      </g>
    </svg>    
  </div>

</div>