<table class="friends-table primary">
  <thead>
<tr>
<th {{action "setSortBy" "firstName"}}> Name</th>
<th {{action "setSortBy" "totalArticles"}}>Articles</th> <th></th>
    </tr>
  </thead>
<tbody>
{{!-- (query-params sortBy="totalArticles") --}}
{{#each model as |friend|}} <tr>
<td>{{link-to friend.fullName "articles" friend}}</td> <td>{{friend.totalArticles}}</td>
<td><a href="#" {{action "delete" friend}}>delete</a></td>
</tr>
{{/each}} </tbody>
</table>

  {{!--  that if we pass an instance of a friend to link-to, then the model hook in the friends show route won’t be called. If we want the hook to be called, instead of doing {{#link-to 'friends.show' friend}}, we’ll have to do {{#link-to 'friends.show' friend.id}}. --}}
  {{!-- {{link-to friend.fullName 'friends.show' friend}} computed link content --}}

