<div class="jumbotron text-center">    
    <h1>{{total}} Number of Articles </h1>
    <br/><br/>

    {{!-- {{world-map}} --}}
    {{world-articles total=totalWorld}}
    {{us-articles total=totalUSA}}

    {{socket-container articles=articles usaArticles=usaArticles}}
    </div>
    {{!-- {{location-map location=rental.city}} --}}
    <br/><br/>
</div>