<div class="jumbotron text-center">    
    <h1>{{total}} Number of Articles </h1>
    <br/><br/>

    {{!-- {{world-map}} --}}
    {{world-articles total=totalWorld}}
    {{us-articles total=totalUSA}}

    {{!-- {{socket-container}} --}}

    <br/><br/>

    <h1>World articles</h1>
    {{#each articles as |article|}}
      {{article-notice article=article}}
    {{/each}}
    <br/><br/>
    <h1> USA Articles </h1>
    {{#each usaArticles as |article|}}
      {{article-notice article=article}}
    {{/each}}
</div>