<div class="jumbotron text-center">
    <h1>Coming Soon</h1>

    <br/><br/>

    {{!-- {{world-map}} --}}
    {{world-articles}}
    {{us-articles}}

    {{socket-container}}

    <br/><br/>

    <h1>current articles</h1>
    {{#if showAll}}
      <button {{action 'showAll'}}>Show All</button>
    {{/if}}
    {{#each model as |article|}}
      {{article-notice article=article}}
    {{/each}}
</div>